In [1]:
import numpy as np
import pandas as pd

In [2]:
words=['US1MT','US2MT','US3MT','US6MT','US1YT','US2YT',
       'US3YT','US5YT','US7YT','US10YT','US30YT']
rics=['.IDCOT7TR','0#USBMK=']
usmt_rics=['US1MT=RR','US2MT=RR','US3MT=RR','US6MT=RR']
usyt_rics=['US1YT=RR','US2YT=RR','US3YT=RR','US5YT=RR','US7YT=RR','US10YT=RR','US30YT=RR']
mp=usmt_rics+usyt_rics

In [3]:
ans=[]
for i in range(11):
    a=[]
    data1=pd.read_excel('UBS/'+words[i]+'.xlsx')
    data2=pd.read_excel('瑞银/'+mp[i]+'.xlsx')
    a.append(words[i])
    a.append(data1.iloc[11,1])
    a.append(data1.iloc[14,1])
    a.append(data2.iloc[7,1])
    a.append(data2.iloc[17,1])
    ans.append(a)

In [4]:
df=pd.DataFrame(ans)
df.to_excel('value.xls',index=False)

In [5]:
data2=pd.read_excel('UBS/'+words[0]+'.xlsx')

In [6]:
data2.iloc[11,1]
data2.iloc[14,1]

'100.00 / 100.00 / 100.00 USD'

In [9]:
df=pd.read_excel('value.xls')
df

,Name,Current Coupon / Next Pay Date,Par Value / Min. Denomination / Increment,Bid / Ask Price,Yield
0,US1MT,0.00000 / --,100.00 / 100.00 / 100.00 USD,*99*27⅝ / 99*27⅝,1.730698
1,US2MT,0.00000 / --,100.00 / 100.00 / 100.00 USD,*99*23½ / 99*23½,1.738025
2,US3MT,0.00000 / --,100.00 / 100.00 / 100.00 USD,*99*19 / 99*19⅛,1.710277
3,US6MT,0.00000 / --,100.00 / 100.00 / 100.00 USD,*99*06½ / 99*06⅝,1.655134
4,US1YT,0.00000 / --,100.00 / 100.00 / 100.00 USD,*98*17⅛ / 98*17⅜,1.598531
5,US2YT,1.50000 / 31-Mar-2020,100.00 / 100.00 / 100.00 USD,*100*06½ / 100*07⅛,1.395626
6,US3YT,1.50000 / 15-Mar-2020,100.00 / 100.00 / 100.00 USD,*100*14 / 100*14¾,1.347607
7,US5YT,1.50000 / 31-Mar-2020,100.00 / 100.00 / 100.00 USD,*100*26½ / 100*27¼,1.327611
8,US7YT,1.62500 / 31-Mar-2020,100.00 / 100.00 / 100.00 USD,*101*10 / 101*11⅛,1.426782
9,US10YT,1.62500 / 15-Feb-2020,100.00 / 100.00 / 100.00 USD,*101*00½ / 101*02,1.513618
10,US30YT,2.25000 / 15-Feb-2020,100.00 / 100.00 / 100.00 USD,*105*09 / 105*10⅞,2.013723